<a href="https://colab.research.google.com/github/goboy2005/R/blob/main/Linear%20Regression%202%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
insurance<- read.csv("insurance.csv",header = T)

In [4]:
head(insurance)

  age sex    bmi  children smoker region    expenses
1 19  female 27.9 0        yes    southwest 16884.92
2 18  male   33.8 1        no     southeast  1725.55
3 28  male   33.0 3        no     southeast  4449.46
4 33  male   22.7 0        no     northwest 21984.47
5 32  male   28.9 0        no     northwest  3866.86
6 31  female 25.7 0        no     southeast  3756.62

In [8]:
attach(insurance)
model2<-lm(expenses~.,data=insurance)
summary(model2)

The following objects are masked from insurance (pos = 3):

    age, bmi, children, expenses, region, sex, smoker


The following objects are masked from insurance (pos = 4):

    age, bmi, children, expenses, region, sex, smoker

Call:
lm(formula = expenses ~ ., data = insurance)

Residuals:
     Min       1Q   Median       3Q      Max
-11302.7  -2850.9   -979.6   1383.9  29981.7

Coefficients:
                Estimate Std. Error t value Pr(>|t|)
(Intercept)     -11941.6      987.8 -12.089  < 2e-16 ***
age                256.8       11.9  21.586  < 2e-16 ***
sexmale           -131.3      332.9  -0.395 0.693255
bmi                339.3       28.6  11.864  < 2e-16 ***
children           475.7      137.8   3.452 0.000574 ***
smokeryes        23847.5      413.1  57.723  < 2e-16 ***
regionnorthwest   -352.8      476.3  -0.741 0.458976
regionsoutheast  -1035.6      478.7  -2.163 0.030685 *
regionsouthwest   -959.3      477.9  -2.007 0.044921 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 6062 on 1329 degrees of freedom
Multiple R-squared:  0.7509,	Adjusted R-squared:  0.7494
F-statistic: 500.9 on 8 and 1329 DF,  p-value: < 2.2e-16

In [9]:
insurance$age2  <-  insurance$age^2
head(insurance)

  age sex    bmi  children smoker region    expenses age2
1 19  female 27.9 0        yes    southwest 16884.92  361
2 18  male   33.8 1        no     southeast  1725.55  324
3 28  male   33.0 3        no     southeast  4449.46  784
4 33  male   22.7 0        no     northwest 21984.47 1089
5 32  male   28.9 0        no     northwest  3866.86 1024
6 31  female 25.7 0        no     southeast  3756.62  961

In [ ]:
model3 <- lm(expenses ~ . , data=insurance)
summary(model3)

In [13]:
insurance$bmi30 <- ifelse( insurance$bmi >= 30, 1, 0 ) 
head(insurance)

model4 <-  lm(expenses ~ .  , data= insurance) 
summary(model4)

  age sex    bmi  children smoker region    expenses age2 bmi30
1 19  female 27.9 0        yes    southwest 16884.92  361 0
2 18  male   33.8 1        no     southeast  1725.55  324 1
3 28  male   33.0 3        no     southeast  4449.46  784 1
4 33  male   22.7 0        no     northwest 21984.47 1089 0
5 32  male   28.9 0        no     northwest  3866.86 1024 0
6 31  female 25.7 0        no     southeast  3756.62  961 0

Call:
lm(formula = expenses ~ ., data = insurance)

Residuals:
     Min       1Q   Median       3Q      Max
-12493.8  -3360.4    136.9   1310.8  29317.0

Coefficients:
                 Estimate Std. Error t value Pr(>|t|)
(Intercept)     -2948.272   1828.553  -1.612 0.107123
age               -28.481     80.443  -0.354 0.723357
sexmale          -166.288    328.313  -0.506 0.612595
bmi               154.070     46.073   3.344 0.000849 ***
children          630.455    142.365   4.428 1.03e-05 ***
smokeryes       23857.060    407.349  58.567  < 2e-16 ***
regionnorthwest  -400.413    469.636  -0.853 0.394033
regionsoutheast  -888.874    472.837  -1.880 0.060344 .
regionsouthwest  -947.344    471.206  -2.010 0.044584 *
age2                3.602      1.004   3.590 0.000343 ***
bmi30            2725.683    547.814   4.976 7.36e-07 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 5977 on 1327 degrees of freedom
Multiple R-squared:  0.7582,	Adjusted R-squared:  0.7564
F-statistic: 416.2 on 10 and 1327 DF,  p-value: < 2.2e-16

In [15]:
model5 <- lm( expenses ~ age + age2 + children + bmi + sex 
                                + bmi30*smoker +region,  data=insurance) 

summary(model5)

#0.7509 -------->  0.7537 ---->  0.7582 ------> 0.8664

Call:
lm(formula = expenses ~ age + age2 + children + bmi + sex + bmi30 *
    smoker + region, data = insurance)

Residuals:
     Min       1Q   Median       3Q      Max
-17297.1  -1656.0  -1262.7   -727.8  24161.6

Coefficients:
                  Estimate Std. Error t value Pr(>|t|)
(Intercept)       139.0053  1363.1359   0.102 0.918792
age               -32.6181    59.8250  -0.545 0.585690
age2                3.7307     0.7463   4.999 6.54e-07 ***
children          678.6017   105.8855   6.409 2.03e-10 ***
bmi               119.7715    34.2796   3.494 0.000492 ***
sexmale          -496.7690   244.3713  -2.033 0.042267 *
bmi30            -997.9355   422.9607  -2.359 0.018449 *
smokeryes       13404.5952   439.9591  30.468  < 2e-16 ***
regionnorthwest  -279.1661   349.2826  -0.799 0.424285
regionsoutheast  -828.0345   351.6484  -2.355 0.018682 *
regionsouthwest -1222.1619   350.5314  -3.487 0.000505 ***
bmi30:smokeryes 19810.1534   604.6769  32.762  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 4445 on 1326 degrees of freedom
Multiple R-squared:  0.8664,	Adjusted R-squared:  0.8653
F-statistic: 781.7 on 11 and 1326 DF,  p-value: < 2.2e-16